<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <span class="text spacer">{{ title }}</span>
  </mat-toolbar-row>
  <mat-toolbar-row style="justify-content: center">
    <a mat-button routerLink="/aboutme" routerLinkActive="active"
      ><span class="text toolbar"> About Me</span>
    </a>
    <a mat-button routerLink="/posts" routerLinkActive="active"
      ><span class="text toolbar">My Two Cents</span>
    </a>
    <a mat-button routerLink="/contactme" routerLinkActive="active"
      ><span class="text toolbar"> Contact Me</span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
