
<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <span class="spacer"> <h1>{{ title }} </h1> </span> 
    <span class="logo">
      <img src="assets/favicon.ico" alt="Logo">
  </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-button routerLink="/aboutme" routerLinkActive='active'><span class="fa fa-home fa-lg"></span> About Me </a>
    <a mat-button routerLink='/posts' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> My Two Cents</a>
    <a mat-button routerLink="/contactme" routerLinkActive='active'><span class="fa fa-address-card fa-lg"></span> Contact Me</a>
  </mat-toolbar-row>

</mat-toolbar>
  