.spacer {
    flex: 1 1 auto;
    text-align: center;
    font-size: 150%;
    font-family: 'Playfair Display', serif; 
    z-index: 99999;
}
.mat-toolbar {
  background: rgb(231, 239, 225);
  color: black;
  z-index: 99999;
  font-family: 'Playfair Display', serif; 

}
.mat-toolbar-row{
  z-index: 99999;
}

.toolbar {
  font-family: 'Playfair Display', serif; 
  
}