<section class="footer">
  <footer>
    <ul>
      <li>Anshuman Kumar &middot; Developer</li>
      <li>
        <a href="https://www.linkedin.com/in/anshumankumarcs/">
          <span class="fa-brands fa-linkedin-in"></span>
          <span class="sr-only" aria-hidden="true">LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/anshumankmr">
          <span class="fa-brands fa-github" aria-hidden="true"></span>
          <span class="sr-only">Github</span>
        </a>
      </li>

      <li>
        <a href="mailto:anshumankumar.mail@gmail.com">
          <span class="fa-solid fa-envelope" aria-hidden="true"></span>
          <span class="sr-only"> Email </span>
        </a>
      </li>
      <li>&copy; 2023 Anshuman Kumar. All rights reserved.</li>
    </ul>
  </footer>
</section>
