<section id="intro">
  <p class="name" [innerHTML]="myNameIs"></p>
  <h2>I am a tech enthusiast.</h2>
  <p class="about-me-text">
    I'm a developer specializing in HTML, CSS, user experience,Javascript,
    Python, React,Angular.
  </p>
  <p [innerHTML]="aboutMe" class="about-me-text"></p>
  <section *ngIf="flag">
    <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/34639203/activity-summary/55aab79d3b61cb1174268222ef82b6037a7f2268'></iframe>
  </section>
</section>
