<div class="content">
  <!-- <div class="heading">
     <div class="header-text">The New's Times</div>
     </div> -->
  <div class="row">
     <div class="item large-item">
      <div class="sub-header">About Me</div>
        <div class="text">
          I am a software engineer<br/>
          I currently work in Quantiphi<br/>
          Alma Mater: Manipal Institute of Technology, Manipal<br/>
          My hobbies include cycling, weight lifting, investing in stocks and cooking.<br/>
          I also like to take pictures, though I am probably not that good at it.<br/>
          
        </div>
     </div>
     <div class="item large-item">
           <app-intro> </app-intro>        
     </div>

  </div>
</div>