#intro {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.personal-image {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 500px) {
  #intro {
    height: 800x;
  }
}
