<div class="content">
  <!-- <div class="heading">
     <div class="header-text">The New's Times</div>
     </div> -->
  <div class="row">
     <div class="item large-item">
        <div class="sub-header">Anshuman Kumar</div>
        <div class="text">
          Software Engineer <br/>
          Studied Computer Science at MIT Manipal, Batch of 2020 <br/>
          Worked with Angular, NodeJS, HTML, CSS <br/>
        </div>
     </div>
     <div class="item large-item">
           <app-intro> </app-intro>        
     </div>

  </div>
</div>