#intro {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.personal-image {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-height: 500px) {
  #intro {
    margin-bottom: 50%;
  }
}
