.blog-component {
  background-color: var(--plum);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  min-height: 500px;
  position: relative; /* new addition */

}
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader svg {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1024px) {
  .loader svg {
    width: 200px;
    height: 200px;
  }
}
.mat-mdc-card {
  flex-direction: column;
  display: flex;
  width: 50%;
  background-color: var(--black);
  border-color: var(--white);
  border-radius: 10px;
  margin-bottom: 50px;
}
.mat-mdc-card:first-child {
  margin-bottom: 20px !important;
}
.mat-mdc-card:last-child {
  margin-top: 20px !important;
}
.mat-mdc-card-header{
    background-color: var(--dkblue);
    padding:5px ;
    font-family: var(--sans) !important;
    color: var(--aqua);
    border-radius: 10px;
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {
  font-family: var(--sans) !important;

}
.mat-mdc-card-subtitle {
  background-color: var(--dkblue);
    font-family: var(--sans);
    color: var(--aqua);
}
.mat-mdc-card{
    padding:0;
    max-width: fit-content;
}
  
.mat-mdc-card-content{
    margin:0px ;
    background-color: var(--black);
    font-family: var(--sans);
    color: var(--white);
    padding: 1rem;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1.5;
}
.mat-mdc-card-actions {
  background-color: var(--black);
  font-family: var(--sans);
  color: var(--white);
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
.mat-mdc-divider {
  background-color: var(--dkblue);
}
.mat-mdc-card-actions button{
  font-family: var(--sans);
  color: var(--white);
}
